<form>
  <h2>Schedule New Interview</h2>
  <input class="form-control" type="hidden" name="interview[application_id]" value="<%=app.id%>">
  <label>Date<br>
    <input class="form-control" name="interview[date]" type="date" placeholder="dd/mm/yyyy"><br>
  </label>
  <label>Time<br>
    <input class="form-control" name="interview[time]" type="time" placeholder="hh:mm AM/PM"><br>
  </label>
  <label>Type<br>
    <select class="form-control" name="interview[style]" >
      <option value="In-Person">In-Person</option>
      <option value="Skype">Skype</option>
      <option value="Phone">Phone</option>
      <option value="Other">Other</option>
    </select><br>
  </label>
  <label>Address/Phone/Skype<br>
    <input class="form-control" name="interview[address]" type="text"><br>
  </label>
  <label>Duration(minutes)<br>
    <input class="form-control" name="interview[duration]" type="text" value="30"><br>
  </label><br>


  <button type="submit" class="btn btn-success">
      <i class="fa fa-calendar"></i> Submit
  </button><br>
  <div class="errors" style="color:red;"></div>   
</form>
