<div class="row" style="font-weight:bold; width: 92%">
  <div class="col-xs-2 col-xs-offset-2">
    Address/Skype/Phone Number
  </div>
  <div class="col-xs-2">
    Style
  </div>
  <div class="col-xs-2">
  Date
  </div>
  <div class="col-xs-2">
  Duration
  </div>

  <div class="col-xs-2">
    Delete
  </div>
</div>
<div class="jumbotron interviewList">

</div>
<hr>
