<form>

  <h2>New Offer</h2>
  <input type="hidden" name="offer[application_id]" value="1">
  <label>Application<br>
    <select class="form-control" name="offer[application_id]" >
      <option value="-1"></option>
      <%applications.each(function(app){%>
        <%if(app.escape('status') === 'Offered'){%>
          <option value="<%=app.id%>"><%=app.escape('company')%>,<%=app.escape('position')%></option>
        <%}%>
      <%});%>
    </select><br>
  </label>
  <label>Due Date<br>
    <input class="form-control" name="offer[due_date]" type="date"><br>
  </label>
  <label>Salary($)<br>
    <input class="form-control" name="offer[salary]" type="text" value="0"><br>
  </label>
  <label>Bonus($)<br>
    <input class="form-control" name="offer[bonus]" type="text"><br>
  </label>
  <label>Vacation(weeks)<br>
    <input class="form-control" name="offer[vacation]" type="text"><br>
  </label><br>
  <label>Notes<br>
    <textarea class="form-control" name="offer[notes]" ></textarea><br>
  </label><br>
  <button type="submit" class="btn btn-success">
      <i class="fa fa-calendar"></i> Next
  </button>

  <div class="errors" style="color:red;"></div>
</form>
