<div class="container">
  <h1 style="float:left;">Your Offers</h1>
  <div class="instructions">
    <p>
      Note: You can only create offers for applications with a status of "offered".
    </p>
  </div>
</div>
<div class="offersList"></div>
<div class="offerForm"></div>
<br>
