<h1>Your Applications</h1>
<div class="row">
  <div class='col-xs-12'>
    <input class="search" placeholder="Company"></input>
    <a href="/#/applications/new">New Application</a>
  </div>
</div>

<div class="row checks">
  <div class='col-xs-2'>
<input class="filter-check" type="checkbox" name="vehicle" value="Pending"> Pending
  </div>
  <div class='col-xs-2'>
<input class="filter-check" type="checkbox" name="vehicle" value="Applied"> Applied
  </div>
  <div class='col-xs-2'>
<input class="filter-check" type="checkbox" name="vehicle" value="Contacted"> Contacted
  </div>
  <div class='col-xs-2'>
<input class="filter-check" type="checkbox" name="vehicle" value="Interviewed"> Interviewed
  </div>
  <div class='col-xs-2'>
<input class="filter-check" type="checkbox" name="vehicle" value="Offered"> Offered
  </div>
  <div class='col-xs-2'>
<input class="filter-check" type="checkbox" name="vehicle" value="Declined"> Declined
  </div>
</div>
<div class="filteredIndex"></div>
