<h1>Your Applications</h1>
<input class="search" placeholder="Company"></input>
<input class="filter-check" type="checkbox" name="vehicle" value="Pending">Pending
<input class="filter-check" type="checkbox" name="vehicle" value="Applied">Applied
<input class="filter-check" type="checkbox" name="vehicle" value="Contacted">Contacted
<input class="filter-check" type="checkbox" name="vehicle" value="Interviewed">Interviewed
<input class="filter-check" type="checkbox" name="vehicle" value="Offered">Offered
<input class="filter-check" type="checkbox" name="vehicle" value="Declined">Declined

<div class="filteredIndex"></div>
<br>
<a href="/#/applications/new">New Application</a>
