<footer>
  <div class="col-lg-12">
    <ul class="list-unstyled">
      <li>Made by Christopher Pauley, 2015</li>
      <li>Utilized Bootstrap, jQueryUI, Backbone, and Ruby On Rails</li>
    </ul>
  </div>
<footer>
